body{
    padding: 0;
    margin: 0;
    background-image: url('../img/white-concrete-wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.85;  
}
.app{
    margin: 20px;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
}
.main-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.main-column .left{
    width: 20%;
    border-right: 1px solid #606163;
}
.main-column .left ul{
    list-style: none;
}
.main-column .left ul li a{
    text-decoration: none;
    color: black;
}

.main-column .right{
    margin-left: 20px;
    width: 60%;
}
.main-column .right .navbar{
    margin: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.row{
    display: flex;
    flex-direction: row;
}

.main-column .right .main .row .col h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.main-column .right .main .row .col p{
    font-size: 14px;
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* footer */
.footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0px 4px 4px 4px rgba(14, 13, 13, 0.2);
    border: transparent;
    height: 40px;
    margin: 0;
}
.footer .social{
    width: 20%;
}
.footer .social span a{
    text-decoration: none;
    align-items: center;
    color:#000;
}
.footer .social span a:hover{
    border-bottom:1px solid blue;
}
.footer .copyright{
    width: 60%;
}

/* menubar */
.menubar ul li{
    padding: 10px;
}
/* dropdown menu */
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown .icon{
    font-size: 20px;
    font-weight: 100;   
    border:none;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li a{
    color: #fff;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover{
    border-bottom: 1px solid blue;
    background-color: rgb(178, 183, 185);
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* form pencarian */
.navbar form input{
    height: 30px;
    width: 400px;
    border: transparent;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(184, 188, 197);
    color: #fff;
}
.navbar form input::placeholder{
    color: #fff;
}
.navbar form input:-ms-input-placeholder{
    color: #fff;
}   
.navbar form button{
    height: 30px;
    border-radius: 4px;
    background-color: rgb(148, 159, 197);
    font-size: 14px;
    color:#fff;
    border: 1px transparent;
}

/* card */

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 20px;
}
.card a{
    text-decoration: none;
    color: #000;
}
.card-item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: auto;
}
.card-item img{
    width: 300px;
    height: 300px;
    border: none;
}
.card-item h4{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}
.card-item p{
    font-size: 14px;
    font-family: arial;
}
.card-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
    ;
    opacity: 0.8;
}
.card-item h4:hover{
    text-decoration: underline blue;
}
.card-item p:hover{
    text-decoration:underline blue;
}

/* portofolio */
.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 20px;
}

.portfolio .item img{
    width: 300px;
    height: 300px;
}
/* kategori post */
.category-post{
    margin-left: 20px;
}
/* garis batas */
.garis-batas{
    background:#606163;
}
/* kategori post */
.category-post{
    font-family: Arial, Helvetica, sans-serif;
}
.category-post h2{
    font-weight: 400px;
    font-size: 20px;    
}
.category-post p a{
    text-decoration: none;
    color: black;
}
.category-post p a:hover{
    border-bottom: 1px solid blue;
}

/* detail artikel */
.main .row .col .image-post{
    width: 600px;
    height: 300px;
    border: 2px solid gray;
}
