.body{
    padding: 0;
    margin: 0;
}

.sidebar{
    margin: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sidebar .left{
    width: 20%;
    border-right: 1px solid #606163;
}
.sidebar .left ul{
    list-style: none;
}
.sidebar .left ul li a{
    text-decoration: none;
    color: black;
}
.sidebar .left ul li a:hover{
    border-bottom: 1px solid blue;
}
.sidebar .right{
    margin-left: 20px;
    width: 60%;
}
.sidebar .right .navbar{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.sidebar .right .main h1{
    font-weight: 600;
    font-size: 30px;
}
.sidebar .right .main p{
    font-size: 14px;
    text-align: justify;
}

/* footer */
.sidebar .right .footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.sidebar .right .footer .social{
    grid-column: 1 / 2;
}
.sidebar .right .footer .social span a{
    text-decoration: none;
    align-items: center;
    color:#000;
}
.sidebar .right .footer .social span a:hover{
    border-bottom:1px solid blue;
}
.sidebar .right .footer .copyright{
    grid-column: 1 / 5;
}

.sidebar .right .footer .copyright{
    margin-left: 20px;
}
/* menubar */
.menubar ul li{
    padding: 10px;
}
/* dropdown menu */
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    color: #fff;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(178, 183, 185);
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* form pencarian */
.navbar form input{
    height: 30px;
    width: 400px;
    border: transparent;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(184, 188, 197);
    color: #fff;
}
.navbar form input::placeholder{
    color: #fff;
}
.navbar form input:-ms-input-placeholder{
    color: #fff;
}   
.navbar form button{
    height: 30px;
    border-radius: 4px;
    background-color: rgb(148, 159, 197);
    font-size: 14px;
    color:#fff;
    border: 1px transparent;
}

/* card */

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8x 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    gap:20px;
    margin-bottom: 20px;
}
.card a{
    text-decoration: none;
    color: #000;
}
.card-item img{
    width: 300px;
    border: none;
}
.card-item h2{
    font-weight: 500;
    font-size: 28px;
    text-align: left;
}
.card-item p{
    font-size: 14px;
    font-family: arial;
}
.card-item:hover{
    box-shadow: 0 8px 16x 0 rgba(0,0,0,0.2)
    ;
    opacity: 0.8;
}
.card-item h2:hover{
    text-decoration: underline blue;
}
.card-item p:hover{
    text-decoration:underline blue;
}